Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*

be: finish model for getEthernetService API-call
  backend/api/model.go
Due: build-backend, deploy-backend

be: format document
  backend/api/model.go
Due: build-backend, deploy-backend

be: create deleteNetworkingService API-call
  backend/api/api.go
  backend/api/ethernet.go
  backend/secrets/secrets.go
Due: build-backend, deploy-backend

be: update deleteNetworkingService API-call
  backend/api/ethernet.go
  backend/database/create.go
  backend/database/delete.go
  backend/database/get.go
Due: build-backend, deploy-backend

Update openapi.yaml
  api/reference/openapi.yaml
Due: deploy-api-reference

be: wip: create upsertNetworkingService API-call
  backend/api/api.go
  backend/api/ethernet.go
  backend/api/model.go
Due: build-backend, deploy-backend

fe: Update DayView, add red timeline, fix color
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/HeaderComponent.qml
  proto/src/timeterm_proto/rpc/rpc.proto
Due: none

nm: init
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/secrets/manager.go
  nats-manager/secrets/secrets.go
  nats-manager/secrets/vault.go
Due: build-nats-manager, deploy-nats-manager

nm: clean up a tiny little bit
  nats-manager/secrets/manager.go
Due: build-nats-manager, deploy-nats-manager

api/reference: update openapi.yaml
  api/reference/openapi.yaml
Due: deploy-api-reference

nm: refactor more
  nats-manager/secrets/manager.go
  nats-manager/secrets/vault.go
Due: build-nats-manager, deploy-nats-manager

nm: don't set JetStream limits manually
  nats-manager/secrets/manager.go
Due: build-nats-manager, deploy-nats-manager

nm: add TODOs
  nats-manager/secrets/manager.go
Due: build-nats-manager, deploy-nats-manager

be: create createNetworkingService Api-call
  backend/api/api.go
  backend/api/ethernet.go
  backend/api/model.go
  backend/database/create.go
Due: build-backend, deploy-backend

fe: Add timeslot in DayView
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
Due: none

nm: seemingly working init process
  nats-manager/devcfg.go
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/secrets/manager.go
  nats-manager/secrets/vault.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

be: create networking service model for api to proto conversions
  backend/api/model.go
Due: build-backend, deploy-backend

proto: update generated Go code
  proto/go/devcfg/devcfg.pb.go
Due: none

fe: Update timefunctions, display appointments only if they are between the selected dates & times
  frontend-embedded/src/cpp/api/fakeapiclient.cpp
  frontend-embedded/src/js/TimeFunctions.js
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

nm: make some more decisions
  backend/docker-compose.yml
  nats-manager/api/api.go
  nats-manager/database/database.go
  nats-manager/database/migrations/1_initial.down.sql
  nats-manager/database/migrations/1_initial.up.sql
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/pkg/vla/README.md
  nats-manager/pkg/vla/context.go
  nats-manager/pkg/vla/impl/httprouter/impl.go
  nats-manager/pkg/vla/router.go
  nats-manager/pkg/vla/vlassert/vlassert.go
  nats-manager/secrets/vault.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

nm: make some more decisions
  nats-manager/api/api.go
  nats-manager/database/migrations/1_initial.down.sql
  nats-manager/database/migrations/1_initial.up.sql
  nats-manager/database/read.go
  nats-manager/database/write.go
  nats-manager/secrets/manager.go
  nats-manager/secrets/vault.go
Due: build-nats-manager, deploy-nats-manager

nm: don't worry about trailing slash because httprouter
  nats-manager/api/api.go
Due: build-nats-manager, deploy-nats-manager

nm: simplify vla
  nats-manager/api/api.go
  nats-manager/pkg/vla/impl/httprouter/impl.go
  nats-manager/pkg/vla/router.go
Due: build-nats-manager, deploy-nats-manager

nm: fmt
  nats-manager/pkg/vla/router.go
Due: build-nats-manager, deploy-nats-manager

nm: more database
  nats-manager/database/create.go
  nats-manager/database/get.go
  nats-manager/database/migrations/1_initial.up.sql
  nats-manager/database/read.go
  nats-manager/database/write.go
  nats-manager/main.go
  nats-manager/secrets/manager.go
Due: build-nats-manager, deploy-nats-manager

be, proto: rename ethernet services to networking services
  backend/api/api.go
  backend/api/ethernet.go
  backend/api/model.go
  backend/secrets/secrets.go
  proto/Makefile
  proto/go/devcfg/devcfg.pb.go
  proto/go/mq/mq.pb.go
  proto/go/rpc/rpc.pb.go
  proto/src/timeterm_proto/devcfg/devcfg.proto
Due: build-backend, deploy-backend

be: start with getNetworkingServices query
  backend/database/get.go
Due: build-backend, deploy-backend

nm: working init
  backend/docker-compose.yml
  backend/docker/postgres_init.sql
  nats-manager/database/create.go
  nats-manager/database/database.go
  nats-manager/database/get.go
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/main.go
  nats-manager/secrets/manager.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

nm: a tiny little bit more type safety
  nats-manager/database/database.go
Due: build-nats-manager, deploy-nats-manager

nm: kind of working
  backend/docker-compose.yml
  nats-manager/api/api.go
  nats-manager/database/database.go
  nats-manager/database/get.go
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/secrets/manager.go
  nats-manager/secrets/static/static.go
  nats-manager/secrets/vault.go
  nats-manager/tx.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

fe,os: fix build
  frontend-embedded/CMakeLists.txt
  os/sources/meta-timeterm/conf/layer.conf
Due: none

nm: also bring good tidings
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: make some code a bit more readable
  nats-manager/main.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

nm: clean up
  nats-manager/api/api.go
  nats-manager/handler/handler.go
  nats-manager/handler/jetstream.go
  nats-manager/main.go
  nats-manager/main_test.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/static.go
  nats-manager/secrets/vault.go
  nats-manager/transport/transport.go
Due: build-nats-manager, deploy-nats-manager

nm: clean up a little bit
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: waste time
  nats-manager/main.go
  nats-manager/manager/manager.go
  nats-manager/transport/transport.go
Due: build-nats-manager, deploy-nats-manager

nm: waste more time
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: i'm done modifying the startup message
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: it looks like it's working
  backend/docker-compose.yml
  nats-manager/api/api.go
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/main.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/static.go
  nats-manager/manager/static/streams.go
  nats-manager/manager/static/users.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

faw: update dependencies
  frontend-admin-web/package.json
  frontend-admin-web/tsconfig.json
  frontend-admin-web/yarn.lock
Due: build-frontend-admin-web, deploy-frontend-admin-web
