Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*

fe: continue DayView, make timeline next to appointments
  frontend-embedded/qml.qrc
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/DayViewTimeLineItem.qml
Due: none

nm: this could work
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/nsc.go
Due: build-nats-manager, deploy-nats-manager

nm: init nsc
  nats-manager/main.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

fe: Simplify some functions
  .gitpod.yml
  frontend-embedded/src/qml/DayView.qml
Due: none

be: update secrets.go
  backend/secrets/secrets.go
Due: build-backend, deploy-backend

nm: (partially) fix contextWithShutdown
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: drain instead of unsubscribing
  nats-manager/main.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

nm: improve error handling in main
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: improve some code
  nats-manager/README.md
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/nsc.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

nm: bail on startup when NATS_MANAGER_DATA_DIR is not set
  nats-manager/main.go
  nats-manager/nsc.go
Due: build-nats-manager, deploy-nats-manager

nm: move some stuff around, run creds generation with env
  nats-manager/nsc.go
Due: build-nats-manager, deploy-nats-manager

api/reference: update openapi.yml
  api/reference/openapi.yaml
Due: deploy-api-reference

fe: Update DayView
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/HeaderComponent.qml
Due: none

be: reformat files
  backend/database/create.go
  backend/database/replace.go
Due: build-backend, deploy-backend

working provisionNewDevice
  backend/docker-compose.yml
  nats-manager/devcfg.go
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/main_test.go
  nats-manager/nsc.go
  nats-manager/nsc_test.go
  nats-manager/tx.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

be: wip: getEthernetService API-call
  backend/api/api.go
  backend/api/device.go
  backend/api/ethernet.go
  backend/api/model.go
  backend/api/student.go
  backend/go.sum
  backend/secrets/secrets.go
Due: build-backend, deploy-backend

fe: Put timefunctions in seperate file, fix indentation and readability
  frontend-embedded/qml.qrc
  frontend-embedded/src/js/TimeFunctions.js
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  backend/api/model.go
Due: build-backend, deploy-backend

.gitlab-ci.yml: build regardless of branch
  .gitlab-ci.yml
Due: none

nm: print stack in panic handler
  nats-manager/main.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

nm: create sdk
  nats-manager/main.go
  nats-manager/main_test.go
  nats-manager/nsc.go
  nats-manager/sdk/go.mod
  nats-manager/sdk/go.sum
  nats-manager/sdk/sdk.go
  nats-manager/tx.go
Due: build-nats-manager, deploy-nats-manager

nm: fix build
  nats-manager/go.mod
  nats-manager/go.sum
Due: build-nats-manager, deploy-nats-manager

api/reference: rename ethernet service to networking service
  api/reference/openapi.yaml
Due: deploy-api-reference

proto: update
  proto/go/rpc/rpc.pb.go
  proto/src/timeterm_proto/rpc/rpc.proto
Due: none

api/reference: update openapi.yaml
  api/reference/openapi.yaml
Due: deploy-api-reference

be: wip: work on ethernet service model
  backend/api/model.go
Due: build-backend, deploy-backend

api,be,nm: NATS authz
  api/reference/openapi.yaml
  backend/api/api.go
  backend/api/device.go
  backend/auhtn/authn.go
  backend/auhtn/middleware.go
  backend/database/create.go
  backend/database/database.go
  backend/database/get.go
  backend/database/migrations/15_device_token_default_date.down.sql
  backend/database/migrations/15_device_token_default_date.up.sql
  backend/database/migrations/17_rename_device_signup_token.down.sql
  backend/database/migrations/17_rename_device_signup_token.up.sql
  backend/database/migrations/18_default_token_created_datetime.down.sql
  backend/database/migrations/18_default_token_created_datetime.up.sql
  backend/docker-compose.yml
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/mq/mq.go
  nats-manager/go.mod
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/nsc.go
  nats-manager/sdk/go.mod
  nats-manager/sdk/go.sum
  nats-manager/sdk/sdk.go
  nats-manager/tx.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-api-reference

*: work on NATS authz
  backend/api/api.go
  backend/api/device.go
  backend/api/model.go
  backend/auhtn/middleware.go
  backend/database/get.go
  backend/docker-compose.yml
  backend/go.mod
  backend/go.sum
  backend/main.go
  frontend-admin-web/.env
  frontend-admin-web/.env.development
  frontend-admin-web/package.json
  frontend-admin-web/src/AppDrawer.tsx
  frontend-admin-web/src/DevicesPage.tsx
  frontend-admin-web/src/DevicesTable.tsx
  frontend-admin-web/src/LoginPage.tsx
  frontend-admin-web/src/StudentsPage.tsx
  frontend-admin-web/src/StudentsTable.tsx
  frontend-admin-web/src/settings/OrganizationSettings.tsx
  frontend-admin-web/src/settings/UserSettings.tsx
  frontend-admin-web/yarn.lock
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/nsc.go
  nats-manager/tx.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, build-frontend-admin-web, deploy-frontend-admin-web

faw: use URL to join relative URL with base
  frontend-admin-web/src/AppDrawer.tsx
  frontend-admin-web/src/DevicesPage.tsx
  frontend-admin-web/src/DevicesTable.tsx
  frontend-admin-web/src/LoginPage.tsx
  frontend-admin-web/src/StudentsPage.tsx
  frontend-admin-web/src/StudentsTable.tsx
  frontend-admin-web/src/settings/OrganizationSettings.tsx
  frontend-admin-web/src/settings/UserSettings.tsx
Due: build-frontend-admin-web, deploy-frontend-admin-web

fe: fix LoginPage.tsx
  frontend-admin-web/src/LoginPage.tsx
Due: build-frontend-admin-web, deploy-frontend-admin-web

be: wip: work on ethernet config model
  backend/api/model.go
  backend/main.go
Due: build-backend, deploy-backend

nm: stop using nsc (it was a bad idea anyways)
  backend/docker-compose.yml
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/nsc.go
  nats-manager/nsc_test.go
  nats-manager/secrets/secrets.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

be: api: wip: work on api/model.go
  backend/api/model.go
Due: build-backend, deploy-backend

proto: update devcfg/devcfg.proto
  proto/src/timeterm_proto/devcfg/devcfg.proto
Due: none

nm: update
  nats-manager/secrets/secrets.go
Due: build-nats-manager, deploy-nats-manager
