Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*

fe: Update choosableAppointmentView, add elide to long text
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
Due: none

be,fe: working device status
  backend/api/device.go
  backend/api/model.go
  backend/database/create.go
  backend/database/database.go
  backend/database/migrations/21_drop_device_status.down.sql
  backend/database/migrations/21_drop_device_status.up.sql
  frontend-embedded/src/cpp/messagequeue/natssubscription.cpp
  frontend-embedded/src/qml/Internals.qml
Due: build-backend, deploy-backend

be,fe,nm: update NATS streams
  backend/api/api.go
  backend/api/device.go
  backend/api/model.go
  backend/database/get.go
  backend/database/pointer.go
  backend/database/replace.go
  backend/database/walk.go
  backend/mq/mq.go
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.h
  frontend-embedded/src/cpp/messagequeue/messages/decoders.cpp
  frontend-embedded/src/cpp/messagequeue/messages/decoders.h
  frontend-embedded/src/cpp/messagequeue/messages/disowntokenmessage.cpp
  frontend-embedded/src/cpp/messagequeue/messages/disowntokenmessage.h
  frontend-embedded/src/cpp/messagequeue/messages/retrievenewtokenmessage.cpp
  frontend-embedded/src/cpp/messagequeue/messages/retrievenewtokenmessage.h
  frontend-embedded/src/cpp/messagequeue/natssubscription.h
  nats-manager/README.md
  nats-manager/handler/jetstream.go
  nats-manager/manager/static/jwtmigrations.go
  nats-manager/manager/static/streams.go
  proto/go/mq/mq.pb.go
  proto/src/timeterm_proto/mq/mq.proto
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

fe,nm: various fixes
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.h
  frontend-embedded/src/cpp/messagequeue/natssubscription.h
  frontend-embedded/src/qml/Internals.qml
  nats-manager/manager/static/jwtmigrations.go
Due: build-nats-manager, deploy-nats-manager

nm: one more fix
  nats-manager/manager/emdev.go
Due: build-nats-manager, deploy-nats-manager

be: 30 seconds means offline
  backend/api/model.go
Due: build-backend, deploy-backend

be,fe: try making JetStream work
  backend/api/networking.go
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
Due: build-backend, deploy-backend

be: fix JetStream emdev pub permissions
  nats-manager/manager/emdev.go
  nats-manager/manager/static/jwtmigrations.go
Due: build-nats-manager, deploy-nats-manager

be: debounce
  backend/mq/mq.go
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
Due: build-backend, deploy-backend

be: tweak debounce
  backend/mq/mq.go
Due: build-backend, deploy-backend

be: fix debounce
  backend/mq/mq.go
Due: build-backend, deploy-backend

be: add participationId to Zermelo Appointment
  backend/api/model.go
  backend/api/zermelo.go
Due: build-backend, deploy-backend

fe: implement updateChoice for ApiClient
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.h
  frontend-embedded/src/qml/Internals.qml
Due: none

fe: emit signal when choice update succeeds
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
Due: none

fe: Add elide and tooltip if needed, optimize visualisation of content
  frontend-embedded/qml.qrc
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/TapToolTip.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
Due: none

be,fe: networking services update with JetStream, working signal strength icon
  backend/api/api.go
  backend/api/device.go
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
  frontend-embedded/src/cpp/api/servicesresponse.cpp
  frontend-embedded/src/cpp/api/servicesresponse.h
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.h
  frontend-embedded/src/cpp/networking/networkmanager.h
  frontend-embedded/src/qml/HeaderComponent.qml
  frontend-embedded/src/qml/Internals.qml
  frontend-embedded/src/qml/main.qml
Due: build-backend, deploy-backend

fe: don't store setup token
  frontend-embedded/src/cpp/devcfg/deviceconfig.cpp
Due: none

be: try to make enrollment work
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: fix (un)enrollment
  backend/api/zermelo.go
  backend/go.mod
  backend/go.sum
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: Zermelo integration: add allowedStudentActions field
  backend/api/model.go
  backend/api/zermelo.go
  backend/go.mod
  backend/go.sum
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: Zermelo: change grouping
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: Zermelo: check if student can unenroll
  backend/api/zermelo.go
Due: build-backend, deploy-backend

fe: Update choosableAppointmentView, change to actual popup, add header, footer and (working) buttons
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/Internals.qml
  frontend-embedded/src/qml/Router.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

be: Zermelo improvements
  backend/api/model.go
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

fe: nullable Zermelo appointment capacity and availableSpace
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.h
Due: none

fe: format
  frontend-embedded/src/cpp/api/zermeloappointments.h
Due: none

api,be: update API reference, clean up
  api/reference/openapi.yaml
  backend/api/api.go
  backend/api/model.go
  backend/api/zermelo.go
Due: build-backend, deploy-backend, deploy-api-reference

api/reference: update openapi.yaml
  api/reference/openapi.yaml
Due: deploy-api-reference

be: fix build
  backend/api/device.go
Due: build-backend, deploy-backend

fe: Make some changes, delete some code
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
  frontend-embedded/src/qml/HeaderComponent.qml
  frontend-embedded/src/qml/Internals.qml
  frontend-embedded/src/qml/main.qml
Due: none

fe: nicer reply error handling
  README.md
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.h
Due: none

fix typo in README.md [skip ci]
  README.md
Due: none

fe: C++ is not Go
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
Due: none

add some random stuff
  archive.sh
  os/sources/meta-timeterm/README
Due: none

be: fix tests
  backend/database/create_test.go
  backend/database/delete_test.go
  backend/database/get_test.go
  backend/database/replace_test.go
  backend/jsmtest/jsm_test.go
Due: build-backend, deploy-backend

fe: Update choosableAppointments
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
Due: none

fe: fix ChoosableAppointmentView TapHandlers
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
Due: none

be: fix one little thing
  backend/api/zermelo.go
Due: build-backend, deploy-backend
