Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*

be: write Zermelo enrollment API call
  backend/api/api.go
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

fe: Fix bug in red timeline
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/WeekView.qml
Due: none

fe: NATS subscriptions
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
  frontend-embedded/src/cpp/messagequeue/messages/decoders.cpp
  frontend-embedded/src/cpp/messagequeue/messages/decoders.h
  frontend-embedded/src/cpp/messagequeue/natsoptions.cpp
  frontend-embedded/src/cpp/messagequeue/natsoptions.h
  frontend-embedded/src/cpp/messagequeue/natssubscription.cpp
  frontend-embedded/src/cpp/messagequeue/natssubscription.h
  frontend-embedded/src/qml/Internals.qml
Due: none

fe: Delete Router and Login anchors
  frontend-embedded/src/qml/Login.qml
  frontend-embedded/src/qml/Router.qml
Due: none

be: install tzdata in Dockerfile
  backend/Dockerfile
Due: build-backend, deploy-backend

faw: fill checkmark in Chrome when scaled
  frontend-admin-web/src/index.scss
Due: build-frontend-admin-web, deploy-frontend-admin-web

nats-manager: install ca-certs (and tzdata)
  nats-manager/Dockerfile
Due: build-nats-manager, deploy-nats-manager

fe: update API client
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
  frontend-embedded/src/cpp/api/createdevice.cpp
  frontend-embedded/src/cpp/api/createdevice.h
  frontend-embedded/src/cpp/api/device.cpp
  frontend-embedded/src/cpp/api/device.h
  frontend-embedded/src/cpp/api/natscreds.cpp
  frontend-embedded/src/cpp/api/natscreds.h
  frontend-embedded/src/cpp/networking/networkmanager.cpp
  frontend-embedded/src/cpp/networking/networkmanager.h
  frontend-embedded/src/qml/Internals.qml
Due: none

fe: save signup token
  frontend-embedded/src/cpp/devcfg/configloader.cpp
  frontend-embedded/src/cpp/devcfg/configloader.h
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
Due: none

fe: fixes
  frontend-embedded/src/cpp/devcfg/configloader.cpp
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
Due: none

be: make updateLastHeartbeat a PUT
  backend/api/api.go
Due: build-backend, deploy-backend

fe: add doHeartbeat to ApiClient
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
Due: none

fe: write some more code
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/deviceinfo.h
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/qml/Internals.qml
Due: none

fe: DeviceInfo
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/deviceinfo.cpp
  frontend-embedded/src/cpp/devcfg/deviceinfo.h
Due: none

be: create connect org zermelo token API call
  backend/api/api.go
  backend/api/zermelo.go
Due: build-backend, deploy-backend

fe: Make ChoosableAppointments
  frontend-embedded/src/qml/ChoosableAppointments.qml
Due: none

fe: fix compilation
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/deviceinfo.cpp
  frontend-embedded/src/cpp/devcfg/deviceinfo.h
Due: none

fe: more config stuff
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/api/createdevice.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/deviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/deviceconfig.h
  frontend-embedded/src/cpp/devcfg/deviceinfo.cpp
  frontend-embedded/src/cpp/devcfg/deviceinfo.h
  frontend-embedded/src/qml/Internals.qml
Due: none

update README.md
  README.md
Due: none

fe: automatic registration
  README.md
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/apiclient.h
  frontend-embedded/src/cpp/api/createdevice.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/deviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/deviceconfig.h
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/networking/networkmanager.cpp
  frontend-embedded/src/qml/Internals.qml
Due: none

fe: fix a few memory leaks / conditions depending on uninitialized values
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/messagequeue/natssubscription.h
  frontend-embedded/src/cpp/networking/networkmanager.cpp
  frontend-embedded/src/qml/Internals.qml
Due: none

be: fix api/zermelo.go (compilation)
  backend/api/zermelo.go
Due: build-backend, deploy-backend

backend: fix authorization in API calls
  backend/api/device.go
  backend/api/organization.go
  backend/api/student.go
  backend/api/user.go
Due: build-backend, deploy-backend

update things
  backend/api/device.go
  backend/api/model.go
  frontend-embedded/src/cpp/devcfg/deviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/deviceconfig.h
Due: build-backend, deploy-backend

fe: better reregistration detection
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/deviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/deviceconfig.h
  frontend-embedded/src/qml/Internals.qml
Due: none

be: fix createStudent authn
  backend/api/student.go
Due: build-backend, deploy-backend

be: actually fix createStudent authn
  backend/api/student.go
Due: build-backend, deploy-backend

be: fix get users for users without Zermelo creds
  backend/api/model.go
  backend/api/zermelo.go
  backend/database/create.go
Due: build-backend, deploy-backend

be: better student update
  backend/api/model.go
  backend/api/model_test.go
  backend/api/student.go
  backend/database/delete.go
  backend/database/get.go
  backend/database/replace.go
Due: build-backend, deploy-backend

be: fix some stuff
  backend/api/model.go
  backend/database/create.go
  backend/database/get.go
  backend/database/replace.go
Due: build-backend, deploy-backend

be: slightly better user create
  backend/api/student.go
  backend/database/create.go
Due: build-backend, deploy-backend

be,faw,fe: more or less improvements
  backend/api/api.go
  backend/api/model.go
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
  backend/pkg/jsontypes/unixtime.go
  frontend-admin-web/.env.development
  frontend-admin-web/.eslintcache
  frontend-admin-web/public/favicon.ico
  frontend-admin-web/public/favicon.svg
  frontend-admin-web/public/index.html
  frontend-admin-web/src/SettingsPage.tsx
  frontend-admin-web/src/StudentsPage.tsx
  frontend-admin-web/src/StudentsTable.tsx
  frontend-admin-web/src/settings/ZermeloSettings.tsx
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web

faw: don't add the ESLint cache to the repo
  frontend-admin-web/.eslintcache
  frontend-admin-web/.gitignore
Due: build-frontend-admin-web, deploy-frontend-admin-web

be,faw,fe: (semi-)working Zermelo integration
  backend/api/api.go
  backend/api/model.go
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
  backend/pkg/jsontypes/unixtime.go
  frontend-admin-web/src/SettingsPage.tsx
  frontend-embedded/src/cpp/api/apiclient.cpp
  frontend-embedded/src/cpp/api/fakeapiclient.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.h
  frontend-embedded/src/cpp/api/zermeloappointments.cpp
  frontend-embedded/src/cpp/api/zermeloappointments.h
  frontend-embedded/src/js/TimeFunctions.js
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/Internals.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web

be,nm: update NATS users
  backend/api/api.go
  backend/main.go
  backend/mq/mq.go
  frontend-embedded/src/qml/Internals.qml
  nats-manager/jwtmigrate/jwtmigrate.go
  nats-manager/manager/apps.go
  nats-manager/manager/emdev.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/jwtmigrations.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

nm: fix jwtmigrate
  nats-manager/jwtmigrate/jwtmigrate.go
  nats-manager/manager/static/jwtmigrations.go
Due: build-nats-manager, deploy-nats-manager

nm: fix ListUsersRe
  nats-manager/database/get.go
Due: build-nats-manager, deploy-nats-manager

be: don't close NATS conn for now
  backend/api/api.go
  backend/mq/mq.go
Due: build-backend, deploy-backend

be,fe: tests with NATS
  backend/api/api.go
  backend/mq/mq.go
  frontend-embedded/src/cpp/api/natscreds.cpp
  frontend-embedded/src/cpp/api/natscreds.h
  frontend-embedded/src/cpp/devcfg/configmanager.h
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/messagequeue/natsconnection.cpp
  frontend-embedded/src/cpp/messagequeue/natsconnection.h
  frontend-embedded/src/cpp/messagequeue/natsoptions.cpp
  frontend-embedded/src/cpp/messagequeue/natssubscription.cpp
  frontend-embedded/src/cpp/messagequeue/natssubscription.h
  frontend-embedded/src/qml/Internals.qml
  nats-manager/manager/manager.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

docs: work on documentation
  docs/content/docs/admin/connect-zermelo.md
  docs/content/docs/admin/create-account.md
  docs/static/login-microsoft-google.png
  docs/static/login-microsoft.png
  docs/static/school-settings-info.png
Due: build-docs, deploy-docs
