Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

build-backend:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: backend
  artifacts:
    paths:
    - backend/timeterm
  script:
  - cd backend
  - make build

deploy-backend:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: backend
  dependencies:
  - build-backend
  script:
  - cd backend
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-nats-manager:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: nats-manager
  artifacts:
    paths:
    - nats-manager/nats-manager
  script:
  - cd nats-manager
  - make build

deploy-nats-manager:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: nats-manager
  dependencies:
  - build-nats-manager
  script:
  - cd nats-manager
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-nats-jsm-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-nats-jsm-backup
  script:
  - cd oci-images/nats-jsm-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-postgres-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-postgres-backup
  script:
  - cd oci-images/postgres-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-frontend-admin-web:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/react-build
  variables:
    PACKAGE: frontend-admin-web
  cache:
    paths:
    - frontend-embedded/node_modules
  artifacts:
    paths:
    - frontend-admin-web/build
  script:
  - cd frontend-admin-web
  - yarn install
  - make build

deploy-frontend-admin-web:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: frontend-admin-web
  dependencies:
  - build-frontend-admin-web
  script:
  - cd frontend-admin-web
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-api-reference:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: api-reference
  script:
  - cd api/reference
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-docs:
  stage: build
  image: klakegg/hugo:0.78.1-ext-alpine-ci
  variables:
    PACKAGE: docs
  script:
  - cd docs
  - git submodule update --init themes/book
  - make build
  artifacts:
    paths:
    - docs/public/

fe: log less in WeekView
  frontend-embedded/src/qml/WeekView.qml
Due: none

be: handle enrollment into multiple appointments
  backend/api/zermelo.go
Due: build-backend, deploy-backend

be: improve on 5f547a5d
  backend/api/zermelo.go
Due: build-backend, deploy-backend

be: fix build
  backend/api/zermelo.go
Due: build-backend, deploy-backend

be: actually fix build
  backend/api/zermelo.go
Due: build-backend, deploy-backend

be: fix dangerous code
  backend/api/zermelo.go
Due: build-backend, deploy-backend

be: clean up debounce function in mq package
  backend/mq/mq.go
Due: build-backend, deploy-backend

update README.md
  README.md
Due: none

fix typo in README.md
  README.md
Due: none

source2pdf: add
  source2pdf/.gitignore
  source2pdf/go.mod
  source2pdf/main.go
  source2pdf/main.tex.tpl
  source2pdf/wildcard.go
Due: none

source2pdf: improve main.tex.tpl
  frontend-embedded-devtools/CMakeLists.txt
  frontend-embedded/CMakeLists.txt
  mfrc522/CMakeLists.txt
  source2pdf/main.tex.tpl
Due: none

api/reference: update openapi.yaml
  api/reference/openapi.yaml
Due: deploy-api-reference

be: initial work on saving admin messages
  backend/database/create.go
  backend/database/database.go
  backend/database/database_test.go
  backend/database/get.go
  backend/database/migrations/10_device_name_idx.down.sql
  backend/database/migrations/22_admin_message.down.sql
  backend/database/migrations/22_admin_message.up.sql
  backend/messages/messages.go
  backend/secrets/secrets.go
Due: build-backend, deploy-backend

be: partially implement message retrieval
  backend/messages/messages.go
Due: build-backend, deploy-backend

be: untested implementation of admin messages
  api/reference/openapi.yaml
  backend/api/api.go
  backend/api/message.go
  backend/api/model.go
  backend/auhtn/authn.go
  backend/database/get.go
  backend/go.mod
  backend/main.go
  backend/secrets/secrets.go
Due: build-backend, deploy-backend, deploy-api-reference

be: finish untested implementation of admin messages
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: actually finish untested implementation of admin messages
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: tidy go.mod
  backend/go.mod
  backend/go.sum
Due: build-backend, deploy-backend

be: fix nil pointer
  backend/auhtn/authn.go
Due: build-backend, deploy-backend

be: fix admin message insert
  backend/database/create.go
Due: build-backend, deploy-backend

be: actually fix admin message insert
  backend/database/create.go
Due: build-backend, deploy-backend

be: fix API authentication for messages routes
  backend/api/api.go
Due: build-backend, deploy-backend

be: more fixes
  backend/api/model.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: more fixes
  backend/api/model.go
  backend/integration/zermelo/zermelo.go
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
Due: build-backend, deploy-backend

be: small fixes
  api/reference/openapi.yaml
  backend/api/model.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend, deploy-api-reference

be: set custom user agent in requests to Zermelo
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: fix typo
  backend/api/logr.go
Due: build-backend, deploy-backend

be: try using capacity from participation
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: log failed enrollment
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: set Content-Type in request to Zermelo
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

fe: clean up a little
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
  frontend-embedded/src/qml/Login.qml
  frontend-embedded/src/qml/main.qml
Due: none

fe: Add browsing through days and weeks
  frontend-embedded/frontend-embedded_nl_NL.ts
  frontend-embedded/src/js/TimeFunctions.js
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/Internals.qml
  frontend-embedded/src/qml/Router.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/main.qml
Due: none

fe: Add weeknumber in weekview
  frontend-embedded/src/js/TimeFunctions.js
  frontend-embedded/src/qml/WeekView.qml
Due: none

fe: Update arrows in browsing, fix bug in browsing
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/main.qml
Due: none

be: fix potential issue / vulnerability
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

golang-build: update Dockerfile
  oci-images/golang-build/Dockerfile
Due: none

be: use window functions for total count
  backend/database/get.go
Due: build-backend, deploy-backend

be: less pointers to database.Device
  backend/api/device.go
  backend/api/model.go
  backend/database/get.go
  backend/database/walk.go
  backend/mq/mq.go
Due: build-backend, deploy-backend

be: fix queries, add test target to Makefile
  backend/Makefile
  backend/database/get.go
Due: build-backend, deploy-backend

be: fix GetNetworkingServices
  backend/database/get.go
Due: build-backend, deploy-backend

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*
