Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

build-backend:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: backend
  artifacts:
    paths:
    - backend/timeterm
  script:
  - cd backend
  - make build

deploy-backend:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: backend
  dependencies:
  - build-backend
  script:
  - cd backend
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-nats-manager:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: nats-manager
  artifacts:
    paths:
    - nats-manager/nats-manager
  script:
  - cd nats-manager
  - make build

deploy-nats-manager:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: nats-manager
  dependencies:
  - build-nats-manager
  script:
  - cd nats-manager
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-nats-jsm-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-nats-jsm-backup
  script:
  - cd oci-images/nats-jsm-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-postgres-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-postgres-backup
  script:
  - cd oci-images/postgres-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-frontend-admin-web:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/react-build
  variables:
    PACKAGE: frontend-admin-web
  cache:
    paths:
    - frontend-embedded/node_modules
  artifacts:
    paths:
    - frontend-admin-web/build
  script:
  - cd frontend-admin-web
  - yarn install
  - make build

deploy-frontend-admin-web:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: frontend-admin-web
  dependencies:
  - build-frontend-admin-web
  script:
  - cd frontend-admin-web
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-api-reference:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: api-reference
  script:
  - cd api/reference
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-docs:
  stage: build
  image: klakegg/hugo:0.78.1-ext-alpine-ci
  variables:
    PACKAGE: docs
  script:
  - cd docs
  - git submodule update --init themes/book
  - make build
  artifacts:
    paths:
    - docs/public/

nm: fix broken comment
  nats-manager/manager/manager.go
Due: build-nats-manager, deploy-nats-manager

nm: fix the ugliness of main.tryConnectNATS
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

nm: use context when initializing manager
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

be: wip: work on getNetworkingServices API-call
  backend/api/api.go
  backend/api/ethernet.go
  backend/database/get.go
Due: build-backend, deploy-backend

fe: Add canceled hour
  frontend-embedded/src/cpp/api/fakeapiclient.cpp
  frontend-embedded/src/qml/DayView.qml
Due: none

fe: fix canceled appointment
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
Due: none

nm: JWT migration
  backend/docker-compose.yml
  nats-manager/api/api.go
  nats-manager/database/create.go
  nats-manager/database/get.go
  nats-manager/database/migrations/1_initial.down.sql
  nats-manager/database/migrations/1_initial.up.sql
  nats-manager/database/update.go
  nats-manager/main.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/jwtmigrate/jwtmigrate.go
  nats-manager/manager/static/jwtmigrate/migrations.go
  nats-manager/manager/static/jwtpatch/jwtpatch.go
  nats-manager/manager/static/users.go
  nats-manager/secrets/vault.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

nm: fix some JWT migration bugs
  nats-manager/manager/static/jwtmigrate/jwtmigrate.go
Due: build-nats-manager, deploy-nats-manager

random
  backend/docker-compose.yml
  frontend-admin-web/tsconfig.json
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web

nm: nicer time range patches
  nats-manager/manager/static/jwtpatch/jwtpatch.go
Due: build-nats-manager, deploy-nats-manager

nm: move jwtmigrate and jwtpatch packages to nats-manager/pkg
  nats-manager/go.sum
  nats-manager/main.go
  nats-manager/manager/static/jwtmigrations.go
  nats-manager/pkg/jwtmigrate/jwtmigrate.go
  nats-manager/pkg/jwtpatch/jwtpatch.go
Due: build-nats-manager, deploy-nats-manager

nm: add primitive type pointer creation functions
  nats-manager/pkg/jwtpatch/pointer.go
Due: build-nats-manager, deploy-nats-manager

be: finish getNetworkingServices API-call; rename ethernet config to networking service
  backend/api/api.go
  backend/api/ethernet.go
  backend/api/model.go
  backend/database/get.go
  backend/secrets/secrets.go
Due: build-backend, deploy-backend

Add WeekView etc.
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/TimeLineItem.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
Due: none

Update ethernet.go
  backend/api/ethernet.go
Due: build-backend, deploy-backend

nm: implement some more API methods
  nats-manager/api/api.go
  nats-manager/manager/manager.go
Due: build-nats-manager, deploy-nats-manager

be: update ethernet.go
  backend/api/ethernet.go
Due: build-backend, deploy-backend

be: automate NATS credentials retrieval
  backend/docker-compose.yml
  backend/main.go
Due: build-backend, deploy-backend

nm: add some comments
  nats-manager/pkg/jwtpatch/jwtpatch.go
Due: build-nats-manager, deploy-nats-manager

be: migrate database table networking_service
  backend/database/database.go
  backend/database/migrations/19_networking_service.down.sql
  backend/database/migrations/19_networking_service.up.sql
Due: build-backend, deploy-backend

nm: write some comments
  nats-manager/api/api.go
  nats-manager/database/database.go
Due: build-nats-manager, deploy-nats-manager

fe: fix some bugs in weekView
  frontend-embedded/frontend-embedded_nl_NL.ts
  frontend-embedded/qml.qrc
  frontend-embedded/src/cpp/api/fakeapiclient.cpp
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/TimeLineItem.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

be: fix migration 19
  backend/database/migrations/19_networking_service.up.sql
Due: build-backend, deploy-backend

nm: slightly better shutdown
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

fe: Fix bugs in WeekView
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

Update model.go
  backend/api/model.go
Due: build-backend, deploy-backend

be: restore getRegistrationConfig
  backend/api/api.go
Due: build-backend, deploy-backend

proto: regenerate Go sources
  proto/Makefile
  proto/go/devcfg/devcfg.pb.go
  proto/go/mq/mq.pb.go
  proto/go/rpc/rpc.pb.go
Due: none

be: move api/ethernet.go to api/networking.go
  backend/api/networking.go
Due: build-backend, deploy-backend

be,nm: fix build
  backend/api/api.go
  backend/main.go
  nats-manager/transport/transport.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

*: instructions for running backend
  README.md
  backend/.env.example
  nats-manager/.env.example
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

clean up README.md
  README.md
Due: none

improve README.md
  README.md
Due: none

nm: also set up streams on NATS reconnection
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

*: add licenses
  README.md
  api/LICENSE
  backend/LICENSE
  design/assets/LICENSE
  docs/LICENSE
  frontend-admin-web/LICENSE
  frontend-embedded-devtools/LICENSE
  frontend-embedded/LICENSE
  mfrc522/LICENSE
  nats-manager/LICENSE
  oci-images/LICENSE
  os/LICENSE
  proto/LICENSE
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, build-frontend-admin-web, deploy-frontend-admin-web, build-docs, deploy-docs

add license to repo root
  LICENSE
  README.md
Due: none

be: fix some routes
  backend/api/api.go
Due: build-backend, deploy-backend

add some NOTICE files
  NOTICE
  design/LICENSE
  design/NOTICE
Due: none

api,be,faw,fe,proto: work on networking services
  api/reference/openapi.yaml
  backend/api/model.go
  frontend-admin-web/package.json
  frontend-admin-web/src/GeneralTable.tsx
  frontend-admin-web/src/SettingsPage.tsx
  frontend-admin-web/src/settings/NetworkSettings.tsx
  frontend-admin-web/yarn.lock
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.h
  proto/go/devcfg/devcfg.pb.go
  proto/src/timeterm_proto/devcfg/devcfg.proto
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference

update README.md
  README.md
Due: none

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*
