Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

build-backend:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: backend
  artifacts:
    paths:
    - backend/timeterm
  script:
  - cd backend
  - make build

deploy-backend:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: backend
  dependencies:
  - build-backend
  script:
  - cd backend
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-nats-manager:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: nats-manager
  artifacts:
    paths:
    - nats-manager/nats-manager
  script:
  - cd nats-manager
  - make build

deploy-nats-manager:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: nats-manager
  dependencies:
  - build-nats-manager
  script:
  - cd nats-manager
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-nats-jsm-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-nats-jsm-backup
  script:
  - cd oci-images/nats-jsm-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-postgres-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-postgres-backup
  script:
  - cd oci-images/postgres-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-frontend-admin-web:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/react-build
  variables:
    PACKAGE: frontend-admin-web
  cache:
    paths:
    - frontend-embedded/node_modules
  artifacts:
    paths:
    - frontend-admin-web/build
  script:
  - cd frontend-admin-web
  - yarn install
  - make build

deploy-frontend-admin-web:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: frontend-admin-web
  dependencies:
  - build-frontend-admin-web
  script:
  - cd frontend-admin-web
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-api-reference:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: api-reference
  script:
  - cd api/reference
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-docs:
  stage: build
  image: klakegg/hugo:0.78.1-ext-alpine-ci
  variables:
    PACKAGE: docs
  script:
  - cd docs
  - git submodule update --init themes/book
  - make build
  artifacts:
    paths:
    - docs/public/

faw: improve network settings a tiny bit
  frontend-admin-web/src/settings/NetworkSettings.tsx
Due: build-frontend-admin-web, deploy-frontend-admin-web

be: finish device registration configuration API-call
  backend/api/device.go
  backend/api/model.go
  backend/api/networking.go
  backend/database/get.go
Due: build-backend, deploy-backend

nm: add comments to manager
  nats-manager/api/api.go
  nats-manager/handler/handler.go
  nats-manager/main.go
  nats-manager/manager/manager.go
Due: build-nats-manager, deploy-nats-manager

be: create update last heartbeat API-call
  backend/api/api.go
  backend/api/device.go
  backend/database/replace.go
Due: build-backend, deploy-backend

fe: Update weekView
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
Due: none

fe: fix ConnManServiceConfig
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.h
Due: none

nm: add migrations to Docker image
  nats-manager/Dockerfile
Due: build-nats-manager, deploy-nats-manager

fe: Update weekView
  frontend-embedded/src/cpp/api/fakeapiclient.cpp
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
Due: none

nm: don't use temp files
  nats-manager/main.go
  nats-manager/manager/manager.go
Due: build-nats-manager, deploy-nats-manager

be: don't use temp file for NATS creds
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: build-backend, deploy-backend

be: fix natsCredsCBs
  backend/main.go
Due: build-backend, deploy-backend

be: fix GetAllNetworkingServices
  backend/database/get.go
Due: build-backend, deploy-backend

nm: wip
  nats-manager/api/api.go
  nats-manager/database/database.go
  nats-manager/database/get.go
  nats-manager/handler/handler.go
  nats-manager/manager/apps.go
  nats-manager/manager/manager.go
  nats-manager/secrets/vault.go
  nats-manager/transport/transport.go
Due: build-nats-manager, deploy-nats-manager

nm: better detect first run
  nats-manager/database/database.go
  nats-manager/database/get.go
  nats-manager/main.go
  nats-manager/manager/manager.go
  nats-manager/pkg/jwtmigrate/jwtmigrate.go
Due: build-nats-manager, deploy-nats-manager

nm: fix Manager#requiresKeyInit doc comment
  nats-manager/manager/manager.go
Due: build-nats-manager, deploy-nats-manager

nm: clean up a bit
  nats-manager/main.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/jwtmigrations.go
  nats-manager/pkg/jwtmigrate/jwtmigrate.go
Due: build-nats-manager, deploy-nats-manager

be,nm: load (NATS) app creds from Vault
  backend/.env.example
  backend/main.go
  backend/secrets/secrets.go
  nats-manager/sdk/appcreds.go
  nats-manager/sdk/go.mod
  nats-manager/sdk/go.sum
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

nm: clean up realMain
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

be,nm: support Vault kv, properly use NATS authz
  backend/.env.example
  backend/docker-compose.yml
  nats-manager/.env.example
  nats-manager/database/migrations/1_initial.up.sql
  nats-manager/handler/handler.go
  nats-manager/main.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/jwtmigrations.go
  nats-manager/manager/static/streams.go
  nats-manager/pkg/jwtmigrate/jwtmigrate.go
  nats-manager/sdk/appcreds.go
  nats-manager/secrets/vault.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

be,nm: update dependencies
  backend/go.mod
  backend/go.sum
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/sdk/go.mod
  nats-manager/sdk/go.sum
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

be: don't mount folder for NATS data in docker-compose.yml
  backend/docker-compose.yml
Due: build-backend, deploy-backend

be,nm: move some stuff around, never stop trying to reconnect with NATS
  backend/api/api.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/jwtmigrate/jwtmigrate.go
  nats-manager/main.go
  nats-manager/main_test.go
  nats-manager/manager/static/jwtmigrations.go
  nats-manager/pkg/jwtpatch/go.mod
  nats-manager/pkg/jwtpatch/go.sum
  nats-manager/pkg/sdk/appcreds.go
  nats-manager/pkg/sdk/go.mod
  nats-manager/pkg/sdk/go.sum
  nats-manager/pkg/sdk/sdk.go
  nats-manager/transport/transport.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

nm: make vla a module
  nats-manager/go.mod
  nats-manager/pkg/vla/go.mod
  nats-manager/pkg/vla/go.sum
Due: build-nats-manager, deploy-nats-manager

nm: misc
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/main.go
Due: build-nats-manager, deploy-nats-manager

be,nm: rid of global state
  backend/database/get.go
  backend/pkg/natspb/natspb.go
  nats-manager/manager/apps.go
  nats-manager/manager/manager.go
  nats-manager/manager/static/jwtmigrations.go
  nats-manager/pkg/vla/context.go
Due: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager

be,faw: networking services configuration
  backend/api/device.go
  backend/api/model.go
  backend/api/networking.go
  backend/database/replace.go
  backend/main.go
  backend/secrets/secrets.go
  frontend-admin-web/.env.development
  frontend-admin-web/package.json
  frontend-admin-web/src/settings/NetworkSettings.tsx
  frontend-admin-web/src/settings/useFileImporter.ts
  frontend-admin-web/src/settings/useSetting.tsx
  frontend-admin-web/yarn.lock
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web

faw: misc fixes in NetworkSettings
  frontend-admin-web/src/settings/NetworkSettings.tsx
  frontend-admin-web/src/settings/useSetting.tsx
Due: build-frontend-admin-web, deploy-frontend-admin-web

be,fe: random networking fixes
  backend/api/model.go
  frontend-embedded/src/cpp/devcfg/configloader.cpp
  frontend-embedded/src/cpp/devcfg/configloader.h
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.h
Due: build-backend, deploy-backend

be,faw: misc fixes again
  backend/secrets/secrets.go
  frontend-admin-web/src/settings/useSetting.tsx
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web

fe: fix ConnManServiceConfig
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
Due: none

fe: keep fixed amount of messages
  frontend-embedded/src/cpp/logs/logmanager.cpp
  frontend-embedded/src/cpp/logs/logmanager.h
Due: none

be,faw: save token expiration
  backend/auhtn/authn.go
  backend/database/create.go
  frontend-admin-web/src/LoginDonePage.tsx
  frontend-admin-web/src/settings/NetworkSettings.tsx
Due: build-backend, deploy-backend, build-frontend-admin-web, deploy-frontend-admin-web

fe: add a comment for clarity in LogManager
  frontend-embedded/src/cpp/logs/logmanager.cpp
Due: none

be: make GetAllNetworkingServices organization-scoped
  backend/api/device.go
  backend/database/get.go
Due: build-backend, deploy-backend

fe: Add Login page, change a lot
  frontend-embedded/assets/icons/logout.svg
  frontend-embedded/frontend-embedded_nl_NL.ts
  frontend-embedded/qml.qrc
  frontend-embedded/src/cpp/api/fakeapiclient.cpp
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/HeaderComponent.qml
  frontend-embedded/src/qml/Login.qml
  frontend-embedded/src/qml/Router.qml
  frontend-embedded/src/qml/TimeLineItem.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

be: elate with Zermelo
  api/ZERMELO.md
  backend/integration/zermelo/model.go
  backend/integration/zermelo/zermelo.go
  backend/integration/zermelo/zermelo_test.go
  backend/main.go
Due: build-backend, deploy-backend

be: try to implement getZermeloAppointments
  backend/api/api.go
  backend/api/model.go
  backend/api/zermelo.go
  backend/auhtn/middleware.go
  backend/database/create.go
  backend/database/database.go
  backend/database/get.go
  backend/database/migrations/20_student_card.down.sql
  backend/database/migrations/20_student_card.up.sql
  backend/integration/zermelo/zermelo.go
  backend/secrets/secrets.go
Due: build-backend, deploy-backend

be: improve 1 error message
  backend/auhtn/middleware.go
Due: build-backend, deploy-backend

be: write some more code for the Zermelo integration
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

be: don't use time/tzdata
  backend/Dockerfile
  backend/main.go
Due: build-backend, deploy-backend

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*
