Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-oci-nats-jsm-backup, build-oci-postgres-backup, build-frontend-admin-web, build-api-reference, build-docs

build-backend:
  stage: build
  image: golang:1.15.4-alpine
  variables:
    PACKAGE: backend
  script:
  - cd backend
  - make image push

build-oci-nats-jsm-backup:
  stage: build
  image: docker:dind
  variables:
    PACKAGE: oci-nats-jsm-backup
  script:
  - cd oci-images/nats-jsm-backup
  - make image push

build-oci-postgres-backup:
  stage: build
  image: docker:dind
  variables:
    PACKAGE: oci-postgres-backup
  script:
  - cd oci-images/postgres-backup
  - make image push

build-frontend-admin-web:
  stage: build
  image: docker:dind
  variables:
    PACKAGE: frontend-admin-web
  script:
  - cd frontend-admin-web
  - make image push

build-api-reference:
  stage: build
  image: docker:dind
  variables:
    PACKAGE: api-reference
  script:
  - cd api/reference
  - make image push

build-docs:
  stage: build
  image: klakegg/hugo:0.78.1-ext-ci
  variables:
    PACKAGE: docs
  script:
  - cd docs
  - make image push

.gitlab-ci.yml: build everything for now
  .gitlab-ci.yml
Due: none

oci-images: add build-time containers
  .gitlab-ci.yml
  oci-images/docker-build/Dockerfile
  oci-images/docker-build/Makefile
  oci-images/golang-build/Dockerfile
  oci-images/golang-build/Makefile
  oci-images/hugo-build/Dockerfile
  oci-images/hugo-build/Makefile
  oci-images/react-build/Dockerfile
  oci-images/react-build/Makefile
Due: none

.gitlab-ci.yml: run dind as a service
  .gitlab-ci.yml
  oci-images/docker-build/Dockerfile
  oci-images/golang-build/Dockerfile
  oci-images/hugo-build/Dockerfile
  oci-images/react-build/Dockerfile
Due: none

.gitlab-ci.yml: authenticate with GitLab Container Registry
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: fix docs step?
  .gitlab-ci.yml
  oci-images/hugo-build/Dockerfile
Due: none

.gitlab-ci.yml: don't globally init submodules
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: update submodule with --init
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: try to make docs build & deploy work
  .gitlab-ci.yml
  docs/Makefile
  oci-images/hugo-build/Dockerfile
  oci-images/hugo-build/Makefile
Due: build-docs

.gitlab-ci.yml: add deploy stage
  .gitlab-ci.yml
Due: none

*: separate build & deploy steps
  .gitlab-ci.yml
  backend/Makefile
  frontend-admin-web/Makefile
Due: build-backend, build-frontend-admin-web

.gitlab-ci.yml: use golang image for backend build
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: update some step names
  .gitlab-ci.yml
Due: none

fix build for be, faw
  .gitlab-ci.yml
  frontend-admin-web/Makefile
Due: build-frontend-admin-web

.gitlab-ci.yml: actually fix be build
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: make it work
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: this time it should really work
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: run build & deploy steps conditionally
  .gitlab-ci.yml
Due: none

api/reference: update openapi.yaml
  api/reference/openapi.yaml
Due: build-api-reference

backend: update docker-compose.yml
  backend/docker-compose.yml
Due: build-backend

be: update docker-compose.yml
  backend/docker-compose.yml
Due: build-backend

be: put natspb into pkg folder
  backend/docker-compose.yml
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/mq/mq.go
  backend/pkg/natspb/go.mod
  backend/pkg/natspb/go.sum
  backend/pkg/natspb/natspb.go
  nats-manager/main.go
Due: build-backend

nm: write a few lines of code
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/main.go
Due: none

nm: start writing tx.go
  nats-manager/tx.go
  timeterm.code-workspace
Due: none

Create group for device route registration
  backend/api/api.go
Due: build-backend

fe,proto: fix C++ build
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.h
  proto/src/CMakeLists.txt
Due: none

fe: Try to change to flickable in DayView, update versions
  frontend-embedded/frontend-embedded_nl_NL.ts
  frontend-embedded/qml.qrc
  frontend-embedded/src/qml/BluetoothSetupPage.qml
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/HeaderComponent.qml
  frontend-embedded/src/qml/Internals.qml
  frontend-embedded/src/qml/Login.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/main.qml
Due: none

fe: fix DayViewAppointment creation in DayView
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
Due: none

fe: update properties of DayViewAppointment
  frontend-embedded/src/qml/DayViewAppointment.qml
Due: none

nm,proto: update
  .gitlab-ci.yml
  nats-manager/Dockerfile
  nats-manager/Makefile
  proto/go/rpc/rpc.pb.go
  proto/src/CMakeLists.txt
  proto/src/timeterm_proto/rpc/rpc.proto
Due: none

be: create userGroup and stdGroup in registerRoutes()
  backend/api/api.go
Due: build-backend

be: wap: communicate with vault
  backend/api/api.go
  backend/go.mod
  backend/go.sum
  backend/secrets/secrets.go
Due: build-backend

be: wip: go on with the client for Vault
  backend/secrets/secrets.go
Due: build-backend

nats-manager: update
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/handler.go
  nats-manager/main.go
  nats-manager/nsc.go
  nats-manager/tx.go
  proto/go/rpc/rpc.pb.go
  proto/src/timeterm_proto/devcfg/devcfg.proto
  proto/src/timeterm_proto/mq/mq.proto
  proto/src/timeterm_proto/rpc/rpc.proto
Due: none

fe: Update y value of DayViewAppointment
  frontend-embedded/src/qml/DayViewAppointment.qml
Due: none

nm: write some readme
  nats-manager/.gitignore
  nats-manager/README.md
  nats-manager/handler.go
  nats-manager/nsc.go
Due: none

nm: improve readme
  nats-manager/README.md
Due: none

nm: do some stuff with nsc
  README.md
  nats-manager/README.md
  nats-manager/go.mod
  nats-manager/go.sum
  nats-manager/handler.go
  nats-manager/jetstream.go
  nats-manager/nsc.go
  nats-manager/nsc_test.go
  nats-manager/tx.go
Due: none

Path conditions:
  build-backend: any of: backend/**/*
  build-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  build-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  build-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
