Repository timeterm/timeterm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, deploy-backend, build-nats-manager, deploy-nats-manager, deploy-oci-nats-jsm-backup, deploy-oci-postgres-backup, build-frontend-admin-web, deploy-frontend-admin-web, deploy-api-reference, build-docs, deploy-docs

build-backend:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: backend
  artifacts:
    paths:
    - backend/timeterm
  script:
  - cd backend
  - make build

deploy-backend:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: backend
  dependencies:
  - build-backend
  script:
  - cd backend
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-nats-manager:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/golang-build
  variables:
    PACKAGE: nats-manager
  artifacts:
    paths:
    - nats-manager/nats-manager
  script:
  - cd nats-manager
  - make build

deploy-nats-manager:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: nats-manager
  dependencies:
  - build-nats-manager
  script:
  - cd nats-manager
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-nats-jsm-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-nats-jsm-backup
  script:
  - cd oci-images/nats-jsm-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-oci-postgres-backup:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: oci-postgres-backup
  script:
  - cd oci-images/postgres-backup
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-frontend-admin-web:
  stage: build
  image: registry.gitlab.com/timeterm/timeterm/react-build
  variables:
    PACKAGE: frontend-admin-web
  cache:
    paths:
    - frontend-embedded/node_modules
  artifacts:
    paths:
    - frontend-admin-web/build
  script:
  - cd frontend-admin-web
  - yarn install
  - make build

deploy-frontend-admin-web:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: frontend-admin-web
  dependencies:
  - build-frontend-admin-web
  script:
  - cd frontend-admin-web
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

deploy-api-reference:
  stage: deploy
  image: registry.gitlab.com/timeterm/timeterm/docker-build
  variables:
    PACKAGE: api-reference
  script:
  - cd api/reference
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make image push

build-docs:
  stage: build
  image: klakegg/hugo:0.78.1-ext-alpine-ci
  variables:
    PACKAGE: docs
  script:
  - cd docs
  - git submodule update --init themes/book
  - make build
  artifacts:
    paths:
    - docs/public/

fe: Fix bug weekView
  frontend-embedded/src/qml/WeekView.qml
Due: none

fe: Fix bugs in weekView
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/Router.qml
  frontend-embedded/src/qml/WeekView.qml
Due: none

docs: work on documentation
  docs/content/docs/admin/connect-zermelo.md
  docs/content/docs/admin/create-account.md
  docs/content/docs/admin/network-config.md
  docs/content/docs/admin/wifi-config.md
  docs/content/menu/index.md
  docs/static/favicon.png
  docs/static/login-microsoft-google.png
  docs/static/network-settings.png
  docs/static/new-network-config.png
  docs/static/school-settings-info.png
  docs/static/zermelo-connect-settings.png
Due: build-docs, deploy-docs

fe: fix compilation issues
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.cpp
  frontend-embedded/src/cpp/messagequeue/jetstreamconsumer.h
  frontend-embedded/src/cpp/messagequeue/natsconnection.cpp
  frontend-embedded/src/cpp/messagequeue/natsconnection.h
  frontend-embedded/src/cpp/messagequeue/natssubscription.cpp
  frontend-embedded/src/cpp/messagequeue/natssubscription.h
  frontend-embedded/src/qml/Internals.qml
Due: none

be: do a left join in GetStudents
  backend/database/get.go
Due: build-backend, deploy-backend

be: return 409 (conflict) when student with same name already exists
  backend/api/student.go
  backend/database/create.go
  backend/database/errors.go
Due: build-backend, deploy-backend

docs: work on documentation
  docs/content/docs/admin/import-students.md
  docs/content/docs/admin/network-config.md
  docs/static/network-settings.png
  docs/static/new-network-config.png
  docs/static/new-network.png
Due: build-docs, deploy-docs

fix git lfs i guess
  docs/static/network-settings.png
  docs/static/new-network.png
Due: build-docs, deploy-docs

fe: better memory management
  frontend-embedded-devtools/fakecardreaderclient.cpp
  frontend-embedded/CMakeLists.txt
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/messagequeue/natsconnection.cpp
  frontend-embedded/src/cpp/messagequeue/natsconnection.h
  frontend-embedded/src/cpp/messagequeue/natssubscription.cpp
  frontend-embedded/src/cpp/networking/networkmanager.cpp
  frontend-embedded/src/cpp/networking/networkmanager.h
  frontend-embedded/src/qml/Internals.qml
Due: none

oops
  frontend-embedded-devtools/fakecardreaderclient.cpp
Due: none

fe: handle reboot message
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/qml/Internals.qml
Due: none

docs: work on documentation
  docs/content/docs/admin/import-students.md
  docs/static/assign-student-passcode.png
  docs/static/new-student.png
  docs/static/students-overview.png
Due: build-docs, deploy-docs

update
  docs/static/assign-student-passcode.png
  docs/static/new-student.png
  docs/static/students-overview.png
Due: build-docs, deploy-docs

fe: Fix some bugs
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

fe: make it kind of work again
  frontend-embedded/src/qml/main.qml
Due: none

fe: reboot
  frontend-embedded/CMakeLists.txt
  frontend-embedded/frontend-embedded_nl_NL.ts
  frontend-embedded/src/cpp/api/natscreds.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
  frontend-embedded/src/cpp/api/zermeloappointment.h
  frontend-embedded/src/cpp/devcfg/configmanager.cpp
  frontend-embedded/src/cpp/devcfg/connmanserviceconfig.cpp
  frontend-embedded/src/cpp/main.cpp
  frontend-embedded/src/cpp/systemd/systemd.cpp
  frontend-embedded/src/cpp/systemd/systemd.h
  frontend-embedded/src/qml/Internals.qml
Due: none

fe: fix typo
  frontend-embedded/src/cpp/systemd/systemd.h
Due: none

add some config files for Gitpod
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

docs: work on documentation
  docs/static/assign-student-passcode.png
  docs/static/favicon.png
  docs/static/login-microsoft-google.png
  docs/static/new-student.png
  docs/static/school-settings-info.png
  docs/static/students-overview.png
  docs/static/zermelo-connect-settings.png
Due: build-docs, deploy-docs

update Gitpod files
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

fe: log error when systemd reboot does not work
  frontend-embedded/src/cpp/systemd/systemd.cpp
Due: none

update .gitpod.yml
  .gitpod.yml
Due: none

fe: Update choosableAppointments
  frontend-embedded/src/qml/ChoosableAppointments.qml
Due: none

docs: work on documentation
  docs/content/docs/admin/import-students.md
  docs/content/docs/device/connect.md
  docs/static/export-config.png
Due: build-docs, deploy-docs

docs: fix network settings images in documentation
  docs/static/network-settings.png
  docs/static/new-network.png
Due: build-docs, deploy-docs

docs: fix typo's in documentation
  docs/content/docs/device/connect.md
Due: build-docs, deploy-docs

fe,os: working remote restart
  frontend-embedded/src/cpp/api/natscreds.cpp
  frontend-embedded/src/cpp/api/natscreds.h
  frontend-embedded/src/cpp/messagequeue/natsconnection.cpp
  frontend-embedded/src/cpp/messagequeue/natsoptions.cpp
  frontend-embedded/src/cpp/messagequeue/natsoptions.h
  frontend-embedded/src/cpp/networking/networkmanager.cpp
  frontend-embedded/src/qml/Internals.qml
  os/sources/meta-timeterm/recipes-timeterm/frontend-embedded/frontend-embedded.bb
Due: none

docs: small tweaks
  docs/content/docs/admin/connect-zermelo.md
  docs/content/docs/admin/import-students.md
  docs/content/docs/admin/network-config.md
  docs/content/docs/device/connect.md
Due: build-docs, deploy-docs

fe: Only create router and children if card is read
  frontend-embedded/src/qml/Login.qml
  frontend-embedded/src/qml/main.qml
Due: none

fe: remove redundant includes from main
  frontend-embedded/src/cpp/main.cpp
Due: none

nm: time to work on activations?
  nats-manager/api/api.go
Due: build-nats-manager, deploy-nats-manager

fe: Add content and more in choosableAppointments
  frontend-embedded/src/qml/ChoosableAppointments.qml
Due: none

nm: notes
  nats-manager/README.md
  nats-manager/manager/static/1_initial.go
  nats-manager/manager/static/jwtmigrations.go
Due: build-nats-manager, deploy-nats-manager

nm: delete lies
  nats-manager/README.md
Due: build-nats-manager, deploy-nats-manager

fe: Update choosableAppointmentView, fix bugs
  frontend-embedded/qml.qrc
  frontend-embedded/src/qml/ChoosableAppointmentView.qml
  frontend-embedded/src/qml/ChoosableAppointments.qml
  frontend-embedded/src/qml/DayView.qml
  frontend-embedded/src/qml/DayViewAppointment.qml
  frontend-embedded/src/qml/Login.qml
  frontend-embedded/src/qml/Router.qml
  frontend-embedded/src/qml/WeekView.qml
  frontend-embedded/src/qml/WeekViewAppointment.qml
  frontend-embedded/src/qml/main.qml
Due: none

Revert "nm: delete lies"
  nats-manager/README.md
Due: build-nats-manager, deploy-nats-manager

Revert "nm: notes"
  nats-manager/README.md
  nats-manager/manager/static/1_initial.go
  nats-manager/manager/static/jwtmigrations.go
Due: build-nats-manager, deploy-nats-manager

Revert "nm: time to work on activations?"
  nats-manager/api/api.go
Due: build-nats-manager, deploy-nats-manager

be: Zermelo integration: availableSpace & capacity
  backend/api/model.go
  backend/api/zermelo.go
  backend/integration/zermelo/zermelo.go
Due: build-backend, deploy-backend

fe: ZermeloAppointment: load content from JSON
  frontend-embedded/src/cpp/api/zermeloappointment.cpp
Due: none

Path conditions:
  build-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-nats-manager: any of: nats-manager/**/*
  deploy-nats-manager: any of: nats-manager/**/*
  deploy-oci-nats-jsm-backup: any of: oci-images/nats-jsm-backup/**/*
  deploy-oci-postgres-backup: any of: oci-images/postgres-backup/**/*
  build-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-frontend-admin-web: any of: frontend-admin-web/**/*
  deploy-api-reference: any of: api/reference/**/*
  build-docs: any of: docs/**/*
  deploy-docs: any of: docs/**/*
